page-general {
    ion-title *{
        margin-bottom: 5vh;
    }
    .status {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }
    .status.input{
      word-wrap: normal;
    }
    .row_css {
      width: 500px;
    }
    .notif {

    }
    .notif:hover {
      color: grey;
    }
}
