page-chat {
    .send{

    }
    .send:hover {
      color: grey;
    }
    #message {
      width: 500px;
    }
    #friends {
      width: 250px;
    }
    .row_css{
      width: 350px;
      //align: right;
      margin-left: auto;
      margin-right: auto;

    }
}
