<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar (click)="stop()">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>Chat</ion-title>
  
  <ion-list>
    <ion-item *ngFor="let sentmsjs of sentmsj">
        <ion-label text-wrap>
      {{sentmsjs}}
        </ion-label>
    </ion-item>
    <ion-item *ngFor="let mymsjs of mymsj">
        <ion-label text-wrap>
      {{mymsjs}}
      </ion-label>
    </ion-item>
  </ion-list> 
  <ion-list>
      <ion-item *ngFor = "let f of fr; let i = index" (click)="choose(i)">
          {{f}}
    </ion-item>
    <ion-item>
        <ion-input placeholder="Friend's email" [(ngModel)]="friend"></ion-input>
      </ion-item>
    <ion-item>
      <ion-input placeholder="Message" [(ngModel)]="message"></ion-input>
    </ion-item>
    <button ion-button (click)="chatSend()">Send message</button> 
    <button ion-button clear icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
      (emojiPickerSelect)="handleSelection($event)">
      🤗
    </button>
    
  </ion-list>

  
</ion-content>
